.header {
    position: fixed;
    width: 100%;
    background-color: var(--secondaryOpa);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 2vmin;
    color: var(--textBold);
    margin: 0 20%;
    padding: 0.8% 0;
    transition-duration: .3s;
}

.navBar a:hover {
    cursor: pointer;
    color: var(--yellow);
    transition-duration: .3s;
}

.index {
    text-transform: uppercase;
    display: flex;
    justify-items: center;
    gap: 2vmin;
}

@media (max-width: 1280px) {
    .navBar {
        margin: 0 10%;
        font-size: 2.5vmin;
    }
    .index {
        gap: 1vmin;
    }
}
@media (max-width: 780px) {
    .navBar {
        margin: 0 5%;
        flex-direction: column;
        font-size: 3.8vmin;
        gap: 1.5vh;
    }
}
@media (max-width: 480px) {
    .navBar {
        margin: 0 1%;
        padding: 2vw;
        font-size: 6vmin;
    }
    .index span {
        opacity: 0;
    }
}